### GLOBAL ###
.env
.dbenv
pseudo.txt
notes.txt
node_modules
READMEsv.md

### ANALYSIS ###
analysis/env
analysis/venv
analysis/data_migrations/utils/env.py
analysis/data_migrations/generate_data/twitter_env.py
analysis/data_migrations/utils/.db_env
analysis/data_migrations/initial_data/exchanges.json
analysis/data_migrations/twitterdata.md



### BACKEND ###
backend/node_modules

### BOTS ###

bots/node_modules
bots/social/twitter/twitter_env.py
bots/social/twitter/env
bots/social/twitter/__pycache__

###### FRONTEND #######
frontend/node_modules
frontend/next.config.js

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# vercel
.vercel


# Python
*__pycache__
*.pyc


